.DS_Store
.idea/
*.log

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
e2e/.pytest_cache/
e2e/**/__pycache__/
e2e/report*.html
e2e/test-results/

# next.js
/.next/
/out/

# production
/build

# misc
.env*.local
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
